body {
  font-size: 18px;
  margin: .2em 0;
}
div.dataTables_info {
  padding: 5px 0;
  white-space: inherit;
}
.vlc-control {
  float: right;
  margin: 0 0 0 .2em;
}
/**
 * Bootstrap overrides it https://github.com/twbs/bootstrap/issues/5624
 * Bring the style back because it is very useful in mobile where this app is
 * mostly used.
 */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

@media screen and (max-width: 767px) {
  div.dataTables_info {
    font-size: 90%;
  }
}
